.field
  = f.label :slug
  = f.text_field :slug, :class => "text", :disabled => (params[:action] != "new" && params[:action] != "create" ? true : false)
.field
  = f.label :nav_title
  = f.text_field :nav_title, :class => "text"
.field
  = f.label :header_title
  = f.text_field :header_title, :class => "text"
  
.field
  = f.label :tagline
  = f.text_field :tagline, :class => "text"

.field
  =f.label :nav_item, "Nav item?"
  = f.check_box :nav_item

  
- f.fields_for :image_attributes do |image_form|
  .field
    .note ideal size: 198x132
    =image_form.label :file, "Logo"
    = image_form.file_field :file
  - unless !f.object.image
    .field
      = label_tag "Current Image"
      = link_to image_tag(f.object.image.public_path(:thumb), :class => "logo"), f.object.image.public_path
  
.field
  = f.label :text
  = f.text_area :text, :class => "mceEditor"
.field
  = f.submit 'Save Page', :class => 'submit'